* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth; }

.container {
  width: 90%;
  max-width: 99.2rem;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 4.8rem 0; }
  .header__nav {
    width: 50%; }
  .header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none; }
  .header__item {
    margin: 0.4rem;
    font-size: 1.6rem;
    cursor: pointer; }
    .header__item a {
      color: #000;
      text-decoration: none; }
    .header__item a:hover {
      color: #3065f8;
      text-decoration: underline; }

@media (max-width: 380px) {
  .header__logo {
    width: 50%;
    margin: 0 auto; }
    .header__logo img {
      width: 100%; }

  .header__nav {
    width: 100%; } }
.main {
  margin-bottom: 4.8rem; }
  .main__image {
    width: 100%;
    margin-bottom: 1.6rem; }
    .main__image img {
      width: 100%; }
  .main__information {
    text-align: center; }
  .main__title {
    margin-bottom: 1.6rem;
    font-family: "Raleway", sans-serif;
    font-size: 2.4rem;
    color: #070439; }
  .main__description {
    margin-bottom: 1.6rem;
    font-size: 1.4rem; }
  .main__form {
    display: flex;
    justify-content: center;
    align-items: inherit;
    flex-direction: column;
    gap: 1.6rem; }
  .main__email, .main__button {
    height: 4rem;
    border-radius: 0.4rem; }
  .main__email {
    border: 1px solid #585989; }
  .main__email::-webkit-input-placeholder {
    padding: 1.6rem;
    color: #bfbfbf; }
  .main__button {
    border: none;
    cursor: pointer;
    color: #f6f6fe;
    background: #3065f8; }

.service {
  padding-bottom: 4.8rem;
  background-color: #f6f6fe; }
  .service__image {
    width: 100%; }
    .service__image img {
      width: 100%;
      margin: 4.8rem auto; }
  .service__title {
    margin-bottom: 1.6rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: #070439; }
  .service__description {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    color: #bfbfbf; }
  .service__button {
    display: flex;
    margin: 2.4rem auto;
    padding-bottom: 0.4rem;
    border: none;
    border-bottom: 1px solid #3c9f8f;
    background: none;
    font-size: 1.4rem;
    color: #3c9f8f;
    cursor: pointer; }
    .service__button .buttonIcon {
      width: 1.8rem;
      height: 1.8rem;
      margin-left: 0.8rem;
      background-image: url("../assets/images/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .service__testimonial {
    width: 80%;
    max-width: 35rem;
    padding: 2.4rem;
    margin: 0 auto;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px #f6f6fe; }
  .service__opinion {
    margin-bottom: 1.6rem; }
  .service__person {
    display: flex;
    justify-content: lef;
    align-items: center;
    gap: 1.6rem;
    width: 90%; }
    .service__person img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%; }
  .service__name {
    font-weight: bold; }

.contact {
  padding: 4.8rem 0;
  background-color: #585989; }
  .contact .information {
    margin-bottom: 2.4rem;
    color: #f6f6fe;
    text-align: center; }
  .contact__title {
    margin-bottom: 1.6rem;
    font-family: "Raleway", sans-serif;
    font-size: 2rem; }
  .contact__description {
    font-size: 1.4rem; }
  .contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem; }
  .contact__email, .contact__button {
    width: 25rem;
    height: 4rem;
    border-radius: 0.4rem; }
  .contact__email {
    border: 1px solid #585989; }
  .contact__email::-webkit-input-placeholder {
    padding: 1.6rem;
    color: #bfbfbf; }
  .contact__button {
    border: none;
    cursor: pointer;
    color: #f6f6fe;
    background: #3065f8; }

.footer {
  padding: 4.8rem 0;
  font-size: 1.4rem;
  color: #fff;
  background-color: #070439; }
  .footer__contact {
    margin-bottom: 4.8rem; }
    .footer__contact svg {
      margin-bottom: 1.6rem; }
    .footer__contact p {
      margin-bottom: 1.6rem; }
      .footer__contact p .logo-phone {
        background-image: url(../assets/images/icon-phone.svg); }
      .footer__contact p .logo-email {
        background-image: url(../assets/images/icon-email.svg); }
      .footer__contact p .logo-phone,
      .footer__contact p .logo-email {
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.8rem;
        background-repeat: no-repeat;
        background-position: center; }
  .footer__lists {
    margin-bottom: 4.8rem;
    list-style: none; }
    .footer__lists li {
      display: block;
      margin-bottom: 1.2rem; }
  .footer__socialMedia {
    text-align: center; }
    .footer__socialMedia img {
      width: 3rem;
      margin-left: 0.8rem; }
  .footer__data {
    padding: 2.4rem 0;
    font-size: 1.4rem;
    text-align: center; }
    .footer__data a {
      font-weight: bold;
      color: #070439;
      text-decoration: none; }
    .footer__data a:hover {
      color: #3065f8;
      text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
