* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-body;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  max-width: 99.2rem;
  margin: 0 auto;
}
