// === Fonts ===
$font-heading: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;

// === Colors ===
$primary-dark-color: #070439;
$primary-desaturated-color: #585989;
$accent-bright-color: #3065f8;
$accent-moderate-color: #3c9f8f;
$neutral-grayish-color: #f6f6fe;
$neutral-gray-color: #bfbfbf;

// === Margins ===
$main-margin: 4.8rem;
$small-margin: 1.6rem;
